body {
  background: black;
}
.content {
  background: black;
  height: 300px;
  width: 100px;
}

.card {
  width: 100%;
  height: 100vh;
  border: solid 1px #fff;
}

h1 {
  font-size: 17px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}